<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <header>
      <h1>🌸 Little Stars Public School 🌸</h1>
      <nav>
        <a href="/">Home</a> |
        <a href="/about">About</a>
      </nav>
    </header>
    <hr />
  </body>
</html>
